textArea {
    font-family: 'Arial', Arial, Helvetica, sans-serif
} 

#AnswerFormCont {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#AnswerForm {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#YourAnswerSpan {
    margin-bottom: 15px;
}

#AnswerFormTextarea {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
/* #AnswerFormTextarea:focus {
    outline: 3px solid rgb(173, 210, 237);
    border-radius: 2px
} */

#AnswerButtonsCont {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 30px;
}

#PostUpdate {
    margin-right: 15px;
}

#discardButton {
    margin-right: 15px;
    border-radius: 2px;
    background-color: rgba(227, 230, 232, 0.64);
    border: 1px solid var(--InputBorder);
}
#discardButton:hover {
    background-color: rgb(225,236,244);
}
#discardButton:focus {
    outline: 3px solid var(--FocusShadow);
}

#DraftDiscardedCont {
    margin-bottom: 15px;
}

#draftDiscarded {
    font-size: 14px;
    color: rgb(206, 59, 66);
}

#loggedInErrorsDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 48, 54);
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.redWhiteText {
    margin: 10px;
}

.answerFormErrorsDiv {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 48, 54);
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}