:root {
    --hover-blue: #0074CC;
    --light-blue: rgb(7, 134, 231); 
    --bigBground: rgb(239, 240, 241);
   --border-gray: rgba(113, 113, 113, 0.405);
}



#LoginWindow {
    background-color: var(--bigBground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.ColumnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 316px;
}

#FormContainer {
    background-color: white;
    width: 100%;
    height: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 268px;
    height: 236px;
}

#EmailContainer {
    width: 268px;
    height: 61.2px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#EmailLabel {
    width: 100%;
    height: 19.61px;
}

.LoginInput {
    width: 268px;
    height: 33.59px;
}

#PasswordContainer {
    width: 268px;
    height: 61.3px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#PasswordForgotPassword {
    display: flex;
    justify-content: space-between;
}

#password {
    height: 33.59px;
    width: 100%;
}