#root {
    width: 100vw;
}

#OuterContainer {
    background-color: rgb(248,249,249);
    top: 0;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(21,200,21);
    height: fit-content;
    width: 100vw;
    right: 0px;
    margin-right: 0px;
    box-shadow: 0 0 3px rgb(164, 165, 165);   
}

.NavBarItem {
    height: 50px;
    display: flex;
    align-items: center;
}

.NavBarItem:hover {
    background-color: rgb(227,230,232);
    /* margin: 0 */
}

#NavBarContainer200 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#NavBarLogo200 {
    text-decoration: none;
    font-size: x-large;
    /* font-size: 5vw; */
    color: rgb(21, 200, 21);
    margin: 5px;
}

#GitLink {
    text-decoration: none;
    color: rgb(82 89 96);
    margin: 8px;
}
#GitLinkContainer:hover {
    height: 29px;
    border-radius: 15px;
}

#SearchContainer {
    width: 40%;
    max-width: 745px;
    background-color: white;
    height: 35.58px;
    border: 1px solid var(--InputBorder);
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: disabled;
    margin-bottom: 5px;
}
#SearchContainer:focus {
    outline: none !important;
    /* background-color: red; */
    border: 1px solid var(--FocusBorder);
    box-shadow: 0 0 8px var(--FocusShadow);
}
#SearchContainer:focus-within {
    outline: none !important;
    /* background-color: red; */
    border: 1px solid var(--FocusBorder);
    box-shadow: 0 0 8px var(--FocusShadow);
}

#SearchForm {
    width: 100%;
}

#NavSearchBar {
    background-color: none;
    border: none;
    outline: none;
    width: 100%;
    cursor: disabled;
}

#loginoutsignupContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#NavLoginButton {
    background-color: rgb(225, 236 ,244);
    border: 1px solid rgb(174, 201, 221);
    color: rgb(77, 128, 164);

}

#NavSignUpButton {
    color: white;
    background-color: rgb(30, 151, 255) !important;
    border: none;
}
#NavSignUpButton:hover {
    background-color: rgb(18,118,201) !important;   
    cursor: pointer;
    margin-top: 0px; 
}

#RightButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 35.58px !important;
}

#RightButtonsContainerLoggedIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 35.58px !important;
}

#RightButtonLinkedInContainer {
    background-color: white;
    border: 1px solid var(--InputBorder);
    border-radius: 3px;
    margin-left: 8px;
}
#RightButtonLinkedInContainer:focus-within {
    outline: 3px solid var(--FocusShadow);
}
#RightButtonLinkedInContainer:hover {
    background-color: rgb(225, 236 ,244);
}

.RightButton {
    height: 35.58px;
    border-radius: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.RightButton:focus {
    outline: 3px solid var(--FocusShadow);
    margin-top: 0px;
}

#NavLoginButton:hover {
    border: 1px solid var(--dark-blue);
    background-color: rgb(180 211 233);
    cursor: pointer;
    margin-top: 0px;
}

#LinkedInRight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--ForgotPasswordBlue);
    margin-right: 8px;
}
#LinkedInRight:focus {
    outline: none !important;
}

#NavLogoutButton {
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(227, 230, 232, 0.64);
    border: 1px solid var(--InputBorder);
}
#NavLogoutButton:hover {
    background-color: rgb(225,236,244);
}
#NavLogoutButton:focus {
    border: 1px solid var(--dark-blue);
}